{% extends 'base.html' %}

{% block content %}
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Add User</h2>
        </div>
        {% if form.errors and form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{form.non_field_errors}}
        </div>
         {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <label class="form-label mb-3">ID
                            <input type="text" class="form-control text-bg-light" name="id" value="{{object.id}}" readonly>
                        </label>
                        <label class="form-label mb-3">Username
                            <input type="text" class="form-control text-bg-light" name="username" value="{{object.username}}" readonly>
                            <span>{{form.errors.username}}</span>
                        </label>
                        <label class="form-label mb-3" >Usergroup
                            <select class="form-control" name="usergroup">
                            </select>
                            <span>{{form.errors.usergroup}}</span>
                        </label>
                        <div class="md-1 mt-2">
                        <div class="form-check">
                            <label class="form-label mb-3">Reset password
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="reset_password">
                                <span>{{form.errors.reset_password}}</span>
                            </label>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="row g-3">
                        <label class="form-label mb-4">Enabled Locations
                            <select class="form-select" name="locations" multiple size="12">
                            {% for l in locations %}
                            {% if l.id in profile_locations %}
                            <option selected value="{{ l.id }}">{{ l.short_name }}</option>
                            {% else %}
                            <option value="{{ l.id }}">{{ l.short_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <span>{{form.errors.locations}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row g-3">
                        <div class="btn-group" role="group" >
                            <a href="{% url 'users:users' %}" class="btn btn-secondary btn-lg" role="button">Cancel</a>
                            <button class="btn btn-dark btn-lg" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>
{% endblock %}