{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>Add Location</h2>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="row">
                            <label class="form-label mb-3">Location name
                            <input type="text" class="form-control" name="full_name" value="{{ object.full_name }}">
                            </label>
                            <label class="form-label mb-4">Short name
                                <input type="text" class="form-control" name="short_name" value="{{ object.short_name }}">
                            </label>
                            <label class="form-label">Path
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="path" id="directory-input" value="{{ object.path }}">
                                </div>
                            </label>
                            <div class="btn-group mb-3">
                                <a href="{% url 'viewer:locations' %}" class="btn btn-secondary btn-lg" role="button">Cancel</a>
                                <button class="btn btn-lg btn-dark" type="submit">Submit</button>
                            </div>
                                <p class="mt-5 mb-3 text-muted text-center">&copy; 2024</p>
                        </div>
                    </div> 
                </div>
            </form>
        </main>
    </div>
{% endblock %}